extends ./layout.jade

mixin player

block content
  .container
    .row
      .twelve.columns
        h3 Player list
        table.u-full-width
          thead
            tr
              th #
              th Alias
              th Account ID
              th Steam ID
              th Profile
              th Last Seen
          tbody.pug-table
            each player, index in playerList
              tr
                td= index+1
                td= player.displayName
                td
                  a(href="https://steamrep.com/?id=#{player.id}")= player.id
                td= player.steamId
                td
                  a(href="#{player.profileUrl}")= player.profileUrl
                td= player.updated

