extends ./layout.jade

block content
  .container(ng-controller="lobbyController")
    .row
      img.nav-left(src="#{user.avatarSmall}")
      h5.nav-left #{user.displayName}

    div(ng-switch="lobbyState")
      .row(ng-switch-when="lobby")
          .six.columns
            h4 Lobby 
              span #{name}
            h5 
              b Status: 
              span.room-status Connecting...
            h5 <b>Location</b>: #{location}
            //- h5 <b>Experience</b>: n/a
            button.button-primary(ng-show="matchFound" onclick="ready()") Ready
          .six.columns
            h4 Players in Lobby (<span class="player-count">0</span>/10)
            ul.player-list

      .row(ng-switch-when="live")
        .one.column
          h4 Match Live

      .row(ng-switch-default)
        .six.columns
          h4 Loading...

block prepend scripts
  script.
    var _data = {};
    _data.id = "#{user.id}";
    _data.displayName = "#{user.displayName}";
    _data.room = "#{name}";


    