extends ./layout.jade

block content
  .container(ng-controller="lobbyController")
    .row
      img.nav-left(src="#{user.avatarSmall}")
      h5.nav-left #{user.displayName}

    div(ng-switch="server.status" ng-cloak)
      .row(ng-switch-when="0")
        .six.columns
          h3 #{name}
          h5 <b>Location</b>: #{location}
          h5 <b>Experience</b>: 
          h5 <b>Status</b>: NOT LIVE
          <br>
          button.button.u-full-width(ng-hide="server.ready" disabled) Waiting for 10 players
          button.button-primary.u-full-width(ng-show="server.ready" ng-click="ready()") Ready
        
        .six.columns
          .u-pull-right
            h5 <b>Players ({{server.playerCount}}/10)</b>: 
            ul.player-list
              li(ng-repeat="player in server.players")
                span(ng-class="player.ready && 'ready'") {{player.displayName}}

      .row(ng-switch-when="1")
        .six.columns
          h3 #{name}
          h5 <b>Location</b>: #{location}
          h5 <b>Experience</b>: 
          h5 <b>Status</b>: LIVE
          //- h5 <b>Map</b>: 
          //- h5 <b>Score</b>: 
          <br>
          button.button.u-full-width(disabled) PUG in progress

        //- .six.columns
        //-   .u-pull-right
        //-     h5 <b>Players in server ({{server.playerCount}}/10)</b>: 
        //-     ul.player-list
        //-       li(ng-repeat="player in server.players")
        //-         span(ng-class="player.ready && 'ready'") {{player.displayName}}

      .row(ng-switch-default)
        .twelve.columns
          h3 Joining Lobby

block prepend scripts
  script.
    var _data = {};
    _data.id = "#{user.id}";
    _data.displayName = "#{user.displayName}";
    _data.room = "#{id}";


    